body{
    margin: 0 auto;
}

.blogWebpage-Header{
    width: 100%;
    background-color: grey;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.header{
    margin: 2em;
}

.blogWebpage-Header-Left {
    flex: 3;
    text-align: left;
}

.blogWebpage-Header-Center {
    text-align: center;
}

.blogWebpage-Header-Right {
    flex: 3;
    text-align: right;
}

#josh{
    border-radius: 50%;
}